.well
  .row-fluid
    .span12
      .content
        .text-center
          %h1 Kyôsu
          %h4 A simple, open, realtime notification service
  .row-fluid
    .content
      .span3.offset3.text-center
